<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.mapper.TagMapper">


    <select id="findHotsTagIds" resultType="java.lang.Long">
        SELECT tag_id FROM bl_article_tag GROUP BY tag_id ORDER BY count(*) DESC limit #{limit}
    </select>
    <select id="findTagsByTagIds" parameterType="list" resultType="com.zj.entity.Tag">
        select
            *
        from
            bl_tag
        where id in
        <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </select>


</mapper>